/* Add your custom styles here */

#boot-up-screen {
    animation: bootUpAnimation 3s forwards;
}

@keyframes bootUpAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.terminal-window {
    max-width: 800px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.title-bar {
    cursor: pointer;
}

.cursor {
    animation: blink-animation 1s infinite;
}

